<h1> Employee List </h1>

{% comment %} <h3> {{employees1}} <h3>

<h3> {{employees2}} <h3> {% endcomment %}

<table>
    <tr>
        <th> Id </th>
        <th> Name </th>
        <th> Age </th>
        <th> Salary </th>
        <th> Post </th>
        <th> Join Date </th>
    </tr>
     {% for emp in employees1 %}
    <tr>
        <td> {{emp.id}} </td>
        <td> {{emp.name}} </td>
        <td> {{emp.age}} </td>
        <td> {{emp.salary}} </td>
        <td> {{emp.post}} </td>
        <td> {{emp.join_date}} </td>
        <td> <a href = "{% url 'deleteEmployee' emp.id %}"> DELETE </a> </td>
    </tr>
    {% endfor %}
</table>







