<h1> Employee List </h1>

<a href="{% url 'createEmployeeForm'%}"> CREATE EMPLOYEE <a/> </br>
<a href ="{% url 'filterEmployee' %}"> FILTER </a> 
<a href ="{% url 'sortEmployee' 1 %}"> ASCENDING </a> 
<a href ="{% url 'sortEmployee' 0 %}"> DESCENDING </a> 

<table>
    <tr>
        <th> Id </th>
        <th> Name </th>
        <th> Age </th>
        <th> Salary </th>
        <th> Post </th>
        <th> Join Date </th>
    </tr>
     {% for emp in employees %}
    <tr>
        <td> {{emp.id}} </td>
        <td> {{emp.name}} </td>
        <td> {{emp.age}} </td>
        <td> {{emp.salary}} </td>
        <td> {{emp.post}} </td>
        <td> {{emp.join_date}} </td>
        <td> <a href = "{% url 'updateEmployee' emp.id %}"> UPDATE </a> </td>
        <td> <a href = "{% url 'deleteEmployee' emp.id %}"> DELETE </a> </td>
    </tr>
    {% endfor %}
</table>







